<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Classroom dashboard</title>
    </head>
    <body>
        <h1>Classroom dashboard</h1>
        <h2>Name: <%= classroom.name %></h2>
        <p>Description: <%= classroom.description %></p>
        <p>Classroom ID: <em><%= classroom._id %></em></p>
        <p>Students can join this classroom using the above Classroom ID.</p>
    </body>
</html>