<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Faculty Dashboard</title>
    </head>
    <body>
        <h1>Login successful</h1>
        <p>Logged in as <em>Faculty.</em></p>
        <p>Welcome <%= name %>.</p>
    </body>
</html>